.Contenido{
    -webkit-box-shadow: inset -1px 3px 8px 5px #050505, 2px 5px 16px 0px #080808, 33px 7px 18px 11px rgba(0,0,0,0.34); 
    box-shadow: inset -1px 3px 8px 5px #070707, 2px 5px 16px 0px #000000, 33px 7px 18px 11px rgba(0,0,0,0.34);
    background-color: #347a96d0;
    width: 37%;
    height: auto;
    margin-left: 62%;
    margin-top: 55px;
    border-radius: 10px;
    color: rgb(22, 22, 22);
    gap: 15px;
    
}
.contenido-introduccion{
    text-align: start;
    padding-top: 10px;
    margin-left: 10px;
}
