.body{
    background-image: url("../img/imagen-inicio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.principal-contenido-titulo{
    font-size: 55px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-shadow: 3px 5px 2px #050505, 2px 2px 2px rgba(248, 248, 248, 0)
}
.listas-nav{
    width: auto;
    padding: 0px;
    gap: 25px;
    list-style: none;
    background-color: #ffffff;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #0077ff, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    
}   
li a{
    
    text-decoration: none;
    color: rgba(0, 0, 0, 0.877);
    font-size: 20px;
    padding-right: 15px;
    font-weight: bold;
    font-style: italic;   
}
.Contenido{
    width: 17%;
    height: auto;
    margin-left: 62%;
    margin-top: 55px;
    border-radius: 10px;
    color: rgb(22, 22, 22);
    gap: 15px;
    -webkit-box-shadow: inset -1px 3px 8px 5px #050505, 2px 5px 16px 0px #080808, 33px 7px 18px 11px rgba(0,0,0,0.34); 
    box-shadow: inset -1px 3px 8px 5px #070707, 2px 5px 16px 0px #000000, 33px 7px 18px 11px rgba(0,0,0,0.34);
    background-color: #347a96d0;
    
}
.contenido-introduccion{
    text-align: start;
    padding-top: 10px;
    margin-left: 10px;
}

