@media(max-width: 1024px){
    .aleria-imagenes{
        padding: 5px;
    }
}

@media(max-width: 768px){
    .galeria-imagenes{
        padding: 5px;
    }
}


@media( max-width: 480px){
    .principal-contenido-titulo{
        
        font-size: 37px;
    }
    .contenido{
        width: auto;
        height: auto;
        margin: 5px;
    
    }
    .contenido-introduccion{
        font-size: 15px;
    }
    .footer{
        font-size: 15px;
    }
    .copy-footer{
        text-align: center;
    }
}